//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
    display: inline-flex;
    padding: 0px 62px;
    justify-content: center;
    align-items: center;
    height: 90px;
    background: rgba(255, 255, 255, 0.15);
    transition: all 0.3s ease 0s;
    border: 1px solid #ffffff;
    @extend .text_b;
    color: #fff;
    @media (min-width: 992px) {
        &:hover {
            background: #770302;
        }
    }
}
