.title {
    font-family: "Roboto";
    @include adaptiveValue("font-size", 96, 56, 1220, 479.98, 1);
    line-height: math.div(112, 96);
}

.subtitle {
    line-height: math.div(42, 36);
    font-size: rem(36);
}
.text {
    line-height: math.div(28, 24);
    &_b {
        font-weight: 700;
    }
}
