.footer {
    background-color: $primary_03;
    @include adaptiveValue("padding-top", 82, 30, 1220, 479.98, 1);
    &__container {
        text-align: center;
    }

    &__btn {
        min-width: rem(290);
        @include adaptiveValue("margin-bottom", 82, 20, 1220, 479.98, 1);
    }

    &__row {
    }

    &__list {
        @media (min-width: $mobileSmall) {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__item {
        color: $primary_01;
        @include adaptiveValue("margin-bottom", 20, 15, 767.98, 479.98, 1);
        &:not(:last-child) {
            @media (min-width: $mobileSmall) {
                &::after {
                    content: "|";
                    margin: 0px rem(10);
                }
            }
        }
        @media (max-width: $mobileSmall) {
            text-align: center;
        }
    }

    &__link {
        @extend .text;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }
}
