.footer {
    background-color: $primary_03;
    &__container {
        text-align: center;
    }

    &__btn {
        min-width: rem(290);
        @include adaptiveValue("margin-top", 82, 20, 1220, 479.98, 1);
        @include adaptiveValue("margin-bottom", 82, 20, 1220, 479.98, 1);
    }

    &__row {
    }

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__item {
        color: $primary_01;
        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 20, 15, 767.98, 479.98, 1);
            &::after {
                content: "|";
                margin: 0px rem(10);
            }
        }
        @media (max-width: $mobileSmall) {
            flex: 1 1 100%;
        }
    }

    &__link {
        @extend .text;
        transition: color 0.3s ease 0s;
        @media (any-hover: hover) {
            &:hover {
                color: $mainColor;
            }
        }
    }
}
