//====================================================================================================
.header {
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    background-color: transparent;
    transition: margin-top 0.8s ease 0s, background-color 0.8s ease 0s, box-shadow 0.8s ease 0s;
    @include adaptiveValue("margin-top", 20, 0, 1190, 991.98, 1);
    &._header-scroll {
        margin-top: 0px;
        background-color: rgba(10, 10, 10, 0.9);
        box-shadow: 0 0 rem(20) $mainColor;
    }

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding-top: rem(10);
        padding-bottom: rem(10);
    }

    &__logo {
        position: relative;
        z-index: 15;
        flex: 0 0 rem(240);
        img {
            max-width: 100%;
        }
        @media (max-width: $mobileSmall) {
            flex: 0 0 rem(200);
        }
    }

    &__menu {
    }

    &__icon {
    }
}

.menu {
    &__body {
        @include adaptiveValue("padding-top", 160, 100, 1190, 479.98, 1);
        padding-right: rem(15);
        padding-left: rem(15);
        padding-bottom: rem(30);
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $mainColor;
        overflow: auto;
        opacity: 0;
        visibility: hidden;
        transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
        @include scrollbars(rem(10), $primary_01, transparent);
        &::before {
            content: "";
            position: fixed;
            width: 100%;
            height: rem(60);
            @include adaptiveValue("padding-top", 30, 10, 1190, 991.98, 1);
            transform: translate(rem(-10), 0px);
            box-sizing: content-box;
            padding-bottom: rem(10);
            z-index: 10;
            background-color: $mainColor;
            top: 0;
            left: 0;
            opacity: 0;
            visibility: hidden;
            transition: visibility 0.3s ease 0s, opacity 0.3s ease 0s;
        }
        .menu-open & {
            visibility: visible;
            opacity: 1;
            &::before {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__list {
        @media (min-width: $mobileSmall) {
            max-width: rem(1190);
            margin: 0px auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__item {
        @include adaptiveValue("padding-bottom", 15, 10, 767.98, 479.98, 1);
        @include adaptiveValue("margin-bottom", 30, 20, 767.98, 479.98, 1);
        border-bottom: rem(3) solid $primary_02;
        transition: border-bottom 0.3s ease 0s;
        @include adaptiveValue("min-width", 370, 290, 1190, 767.98, 1);
        @media (any-hover: hover) {
            &:hover {
                border-bottom: rem(3) solid $primary_01;
            }
        }
    }

    &__link {
        span {
            font-weight: 700;
            @include adaptiveValue("font-size", 48, 28, 1190, 479.98, 1);
            line-height: math.div(56, 48);
            color: $primary_01;
            @media (min-width: $mobileSmall) {
                padding-right: rem(40);
            }
        }
    }
}

//====================================================================================================

.icon-menu {
    display: block;
    position: relative;
    width: rem(60);
    height: rem(60);
    cursor: pointer;
    z-index: 15;
    background-color: rgba(255, 255, 255, 0.1);
    border: rem(1) solid $primary_01;
    transition: background-color 0.3s ease 0s;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-tap-highlight-color: transparent;
    @media (max-width: $mobileSmall) {
        width: rem(50);
        height: rem(50);
    }
    span,
    &::before,
    &::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: rem(12);
        position: absolute;
        width: rem(36);
        height: rem(2);
        background-color: $primary_01;
        @media (max-width: $mobileSmall) {
            right: rem(6);
        }
    }
    @media (any-hover: hover) {
        &:hover {
            background-color: $primary_03;
            .menu-open & {
                span {
                    background-color: $primary_03;
                }
            }
        }
    }
    &::before {
        top: rem(17);
        @media (max-width: $mobileSmall) {
            top: rem(14);
        }
    }
    &::after {
        bottom: rem(17);
        @media (max-width: $mobileSmall) {
            bottom: rem(14);
        }
    }
    span {
        top: calc(50% - rem(1));
    }
    .menu-open & {
        span {
            opacity: 0;
        }
        &::before {
            top: calc(50% - rem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - rem(1));
            transform: rotate(45deg);
        }
    }
}
