.page {
    flex: 1 1 auto;

    &__home {
        @include adaptiv-value("margin-bottom", 105, 50, 1);
    }

    &__info {
        @include adaptiv-value("margin-bottom", 100, 50, 1);
    }

    &__content {
        @include adaptiv-value("margin-bottom", 100, 50, 1);
    }

    &__characteristics {
        @include adaptiv-value("margin-bottom", 100, 50, 1);
    }
}
//===================================================================================================================================

.home {
    position: relative;
    &__content {
        position: relative;
    }

    &__container {
        padding-top: 120px;
        @include adaptiv-value("padding-bottom", 26, 20, 1);
        position: relative;
        z-index: 10;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        min-height: 100vh;
        @media (max-width: $md3+px) {
            @media screen and (orientation: landscape) {
                padding-top: 90px;
            }
        }
    }

    &__body {
        flex: 1 1 auto;
        @media (max-width: $md3+px) {
            text-align: center;
        }
    }

    &__title {
        @extend .title;
        margin: 0px 0px 30px 0px;
        transform: translate(60%, 0px);
        transition: all 0.5s ease 0s;
        opacity: 0;
        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__text {
        @extend .text;
        max-width: 284px;
        margin-bottom: 25px;
        @media (max-width: $md3+px) {
            max-width: 300px;
            margin: 0px auto 25px auto;
        }
        @media (max-width: $md4+px) {
            max-width: none;
        }
        transform: translate(-60%, 0px);
        transition: all 0.5s ease 0.3s;
        opacity: 0;
        &._active {
            transform: translate(0px, 0px);
            opacity: 1;
        }
    }

    &__btn {
        margin: 0px 0px 25px 0px;
        transition: all 0.5s ease 0.8s;
        @media (max-width: $md4+px) {
            display: flex;
        }
    }

    &__pagination {
        display: flex;
        align-items: center;
        @media (max-width: $md3+px) {
            justify-content: center;
        }
        .swiper-pagination-bullet {
            width: 15px;
            height: 15px;
            background-color: #0b0b0b;
            border-radius: 50%;
            margin: 0px 20px 0px 0px;
            transition: all 0.8s ease 0s;
            &:last-child {
                margin: 0px 0px 0px 0px;
            }
        }
        .swiper-pagination-bullet-active {
            background-color: #fff;
        }
    }

    &__slider {
        min-height: 100vh;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 2;
            top: 0;
            left: 0;
            background: rgba(0, 0, 0, 0.3);
        }
    }

    &__slide {
        position: relative;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.info {
    &__container {
    }

    &__row {
        overflow: hidden;
        @include adaptiv-value("margin-bottom", 65, 5, 1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__column {
        align-items: center;
        display: flex;
        height: 100%;
        flex-direction: column;
        @include adaptiv-value("padding-left", 32, 15, 1);
        @include adaptiv-value("padding-right", 32, 15, 1);
        margin-bottom: 35px;
        @extend .text;
        @media (max-width: $md3+px) {
        }
        &:first-child {
            .info__stat {
                span {
                    transform: translate(-5px, 0px);
                    @include adaptiv-value("padding-bottom", 16, 8, 1);
                }
            }
        }
        &:last-child {
            .info__stat {
                position: relative;
                &::after {
                    position: absolute;
                    top: 0;
                    right: 35px;
                    content: "+";
                }
            }
        }
    }

    &__label-top {
        flex: 1 1 auto;
    }

    &__stat {
        display: flex;
        margin: 19px 0px 7px 0px;
        align-items: flex-end;
        span {
            padding: 0px 0px 0px 8px;
            @include adaptiv-value("padding-bottom", 16, 8, 1);
            font-size: 24px;
        }
    }

    &__number {
        @extend .title;
    }

    &__label-botton {
        color: #b70021;
    }

    &__image {
        padding: 0px 0px 33.34% 0px;
        min-height: 200px;
        @media (max-width: $md3+px) {
            padding: 0px 0px 53.55% 0px;
        }
        transform: scale(0.5);
        opacity: 0;
        transition: all 0.8s ease 0s;
        &._active {
            transform: scale(1);
            opacity: 1;
        }
    }
}

//========================================================================================================================================================

.content {
    &__container {
    }

    &__row {
        display: flex;
        margin: 0px -28px;
        @include adaptiv-value("margin-bottom", 100, 30, 1);
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
            margin-right: 0;
            margin-left: 0;
        }
        &_sec {
            flex-direction: row-reverse;
            .content__column {
                transform: translate(-120%, 0);
                &:first-child {
                    transform: translate(120%, 0);
                    &._active {
                        transform: translate(0px, 0px);
                    }
                }
                &._active {
                    transform: translate(0px, 0px);
                }
                @media (max-width: $md3+px) {
                    transform: translate(120%, 0);
                    &:first-child {
                        transform: translate(-120%, 0);
                    }
                }
            }
            .content__title {
                text-align: right;
                @media (max-width: $md3+px) {
                    display: none;
                }
            }
            @media (max-width: $md3+px) {
                .content__br {
                    opacity: 1;
                    visibility: visible;
                    display: block;
                }
            }
        }
    }

    &__column {
        @media (max-width: $md3+px) {
            flex: 1 1 100%;
            padding: 0;
        }
        flex: 0 1 50%;
        padding: 0px 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.5s ease 0s;
        transform: translate(120%, 0);
        &:first-child {
            opacity: 0;
            transition: all 0.5s ease 0s;
            transform: translate(-120%, 0);
        }
        &._active {
            opacity: 1;
            transform: translate(0px, 0px);
        }
    }

    &__title {
        color: #b70021;
        @extend .subtitle;
    }

    &__text {
        @extend .text;
        margin: 25px 0px;
    }

    &__br {
        @extend .subtitle;
        color: #b70021;
        opacity: 0;
        visibility: hidden;
        @media (max-width: $md3+px) {
            display: none;
        }
    }

    &__image {
        padding: 0px 0px 69.93% 0px;
        min-height: 200px;
        @media (max-width: $md3+px) {
            padding: 0px 0px 53.55% 0px;
        }
    }
}

//========================================================================================================================================================

.characteristics {
    &__container {
    }

    &__image {
        padding: 0px 0px 50% 0px;
        min-height: 200px;
        transform: scale(0.5);
        opacity: 0;
        transition: all 0.8s ease 0s;
        @include adaptiv-value("margin-bottom", 100, 30, 1);
        &._active {
            transform: scale(1);
            opacity: 1;
        }
    }

    &__row {
        display: flex;
        margin: 0px -28px;
        @media (max-width: $md3+px) {
            flex-wrap: wrap;
        }
    }

    &__column {
        padding: 0px 28px;
        flex: 0 1 50%;
        transition: all 0.5s ease 0s;
        opacity: 0;
        transform: translate(-120%, 0px);
        &:last-child {
            transform: translate(120%, 0px);
        }
        &._active {
            opacity: 1;
            transform: translate(0px, 0px);
        }
        @media (max-width: $md3+px) {
            flex: 1 1 100%;
            margin: 0px 0px 25px 0px;
            transform: translate(0, 60%);
            &:last-child {
                transform: translate(0, 60%);
                margin: 0px 0px 0px 0px;
                &._active {
                    transform: translate(0px, 0px);
                }
            }
        }
    }

    &__number {
        @extend .text;
        color: #b70021;
    }

    &__text {
        @extend .text;
        margin: 0px 17px 0px 0px;
        display: flex;
        justify-content: flex-end;
        p {
            flex: 0 1 450px;
            @media (max-width: $md3+px) {
                flex: 1 1 auto;
            }
        }
        @media (max-width: $md3+px) {
            margin: 0;
        }
    }
}
